<% content_for :pagetitle do %>
	<%=t :trust_home_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
		<a href="/home"><%=t :trust_NavHome %></a>
		<a href="/security"><%=t :trust_NavSecurity %></a>
		<a href="/privacy"><%=t :trust_NavPrivacy %></a>
		<a href="/status"><%=t :trust_NavStatus %></a>
	</div>
    <br/>
    <%= render "parkerquote" %>
</div>

<div id="center">
	<div id="content-text">
		<h1><%=t :trust_404_title %></h1>
		<p><%=t :trust_404_text %></p>
		<ul>
			<li class="link"><a href="/home"><%=t :trust_404_visittrust %></a></li>
			<li class="link"><a href="http://www.database.com"><%=t :trust_404_visitdatabase %></a></li>
			<li class="link"><a href="http://www.salesforce.com/company/news-press/"><%=t :trust_404_readnews %></a></li>
		</ul>
	</div>
</div>

<div id="right">
    <div>
        <h4 class="gear"><%=t :trust_NavStatus %></h4>
        <p><%=t :trust_descstatus %> <a href="/trust/status"><%=t(:trust_checkstatus).gsub(" ","&nbsp;").html_safe %></a></p>
    </div>
</div>