<% content_for :pagetitle do %>
	<%=t :trust_home_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
		<%= link_to t(:trust_NavHome),"#{@root}#{I18n.locale}/home"%>
		<%= link_to t(:trust_NavSecurity),"#{@root}#{I18n.locale}/security"%>
		<%= link_to t(:trust_NavPrivacy),"#{@root}#{I18n.locale}/privacy"%>
		<%= link_to t(:trust_NavStatus),"#{@root}#{I18n.locale}/status"%>
	</div>
    <br/>
    <%= render "parkerquote" %>
</div>

<div id="center">
	<div id="content-text">
		<h1><%=t :trust_404_title %></h1>
		<p><%=t :trust_404_text %></p>
		<ul>
			<li class="link"><a href="#{@root}#{I18n.locale}/home"><%=t :trust_404_visittrust %></a></li>
			<li class="link"><a href="http://www.database.com"><%=t :trust_404_visitdatabase %></a></li>
			<li class="link"><a href="http://www.salesforce.com/company/news-press/"><%=t :trust_404_readnews %></a></li>
		</ul>
	</div>
</div>

<div id="right">
    <%= render "check_status_div" %>
</div>