<% content_for :pagetitle do %>
	<%=t :trust_home_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
		<a href="/home"><%=t :trust_NavHome %></a>
		<a href="/security"><%=t :trust_NavSecurity %></a>
		<a href="/privacy"><%=t :trust_NavPrivacy %></a>
		<a href="/status"><%=t :trust_NavStatus %></a>
	</div>
	<img style="margin: 30px 11px;" src="/images/trust/parker_quote_hm.gif"/>
</div>

<div class="white-bg">
<div id="center" style="margin-bottom: 100px;">
	<div id="content-text" style="margin: 32px 40px;">
		<h1><%=t :trust_404_title %></h1>
		<p><%=t :trust_404_text %></p>
		<ul style="margin: 45px 20px;">
			<li class="link"><a href="/home"><%=t :trust_404_visittrust %></a></li>
			<li class="link"><a href="http://www.database.com"><%=t :trust_404_visitdatabase %></a></li>
			<li class="link"><a href="http://www.salesforce.com/company/news-press/"><%=t :trust_404_readnews %></a></li>
		</ul>
	</div>
</div>

<div id="right">

	<div class="ctacontainer ctacontainer-large">
		<a href="/status">
			<img src="/images/trust/cta_systemstatus.gif"/>
		</a>
	</div>

</div>
</div>