<div id="header">
<div class="row">
    <div id="logo" class="column"><a href="/" title="Database.com"><img src="/images/trust/trustlogo.png"/></a></div>
    
    <%
        action = params[:action]
        homeclass     = action == "home"     ? "on" : "off"
        securityclass = action == "security" ? "on" : "off"
        privacyclass  = action == "privacy"  ? "on" : "off"
        statusclass   = action == "status"   ? "on" : "off"
    %>
    <div class="navMenu column">
        <%= link_to t(:trust_NavHome), "#{@root}#{I18n.locale}/home", :class => homeclass %>
        <%= link_to t(:trust_NavSecurity), "#{@root}#{I18n.locale}/security", :class => securityclass %>
        <%= link_to t(:trust_NavPrivacy), "#{@root}#{I18n.locale}/privacy", :class => privacyclass %>
        <%= link_to t(:trust_NavStatus), "#{@root}#{I18n.locale}/status", :class => statusclass %>
        <%= link_to t(:trust_NavLogin), "https://login.database.com", :class => "login" %>
    </div>
</div>

<div id="header-arrow" class="row <%= action %>">&nbsp;</div>

</div>