<div id="header">
<div class="row">
    <div id="logo" class="column"><a href="<%= @root %>" title="Database.com"><img src="/images/trust/trustlogo.png"/></a></div>
    
    <%
        action = params[:action]
        homeclass     = action == "home"     ? "on" : "off"
        securityclass = action == "security" ? "on" : "off"
        privacyclass  = action == "privacy"  ? "on" : "off"
        statusclass   = action == "status"   ? "on" : "off"
    %>
    <div class="navMenu column">
        <span class="<%=homeclass    %>"><%= link_to t(:trust_NavHome), "#{@root}#{I18n.locale}/home" %></span>
        <span class="<%=securityclass%>"><%= link_to t(:trust_NavSecurity), "#{@root}#{I18n.locale}/security" %></span>
        <span class="<%=privacyclass %>"><%= link_to t(:trust_NavPrivacy), "#{@root}#{I18n.locale}/privacy" %></span>
        <span class="<%=statusclass  %>"><%= link_to t(:trust_NavStatus), "#{@root}#{I18n.locale}/status" %></span>
        <span class="login"><%= link_to t(:trust_NavLogin), "https://login.database.com" %></span>
    </div>
</div>

</div>