<% content_for :pagetitle do %>
	<%=t :trust_home_pagetitle %>
<% end %>

<div id="left">
    <img src="/images/trust/LOCKIMG.png"/>
    <%= render "parkerquote" %>
</div>


<div id="center">
	<div id="content-text">
		<h1><%=t :trust_home_H1 %></h1>
		<p><%=t :trust_home_P1 %></p>
		<p><%=t :trust_home_P2 %></p>
		<ul>
			<li><%=t :trust_home_Li1 %></li>
			<li><%=t :trust_home_Li2 %></li>
			<li><%=t :trust_home_Li3 %></li>
			<li><%=t :trust_home_Li4 %></li>
			<li><%=t :trust_home_Li5 %></li>
		</ul>
		<p>
			<%= (t :trust_home_P3, :ideas => link_to("ideas.salesforce.com", "http://ideas.salesforce.com")).html_safe %>
		</p>
	</div>
</div>

<div id="right">
    
    <div>
        <h4 class="warn"><%=t :trust_home_RelTitle %></h4>
        <p><%=t :trust_home_RelText %> <a href="#"><%=t :trust_readmore %></a></p>
    </div>
        
    <div>
        <h4 class="gear"><%=t :trust_NavStatus %></h4>
        <p><%=t :trust_descstatus %> <a href="/trust/status"><%=t :trust_checkstatus %></a></p>
    </div>

</div>