<% content_for :pagetitle do %>
	<%=t :trust_privacy_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
		<div class="sidebar-navigation-top"></div>
		<a href="/privacy/global-privacy"><%=t :trust_NavGlobalPrivacy %></a>
		<a class="on" href="/privacy/tools"><%=t :trust_privacy_tools %></a>
		<div class="sidebar-navigation-bottom"></div>
	</div>
</div>

<div class="white-bg">
<div id="center">
	<div id="content-text">
		<h1><%=t :trust_privacy_tools_h1 %></h1>
		<p><%=t :trust_privacy_tools_p11 %></p>

		<strong><%=t :trust_privacy_tools_c12 %></strong>
		<p><%=t :trust_privacy_tools_p121 %></p>
		<ul>
			<li>
				<strong><%=t :trust_privacy_tools_l121 %></strong>
				<ul>
					<li><%= (t :trust_privacy_tools_l121a, :link => link_to( t(:trust_privacy_tools_eusafeHarbor),"http://www.export.gov/safehrbr/companyinfo.aspx?id=9994") ).html_safe %></li>
					<li><%= (t :trust_privacy_tools_l121b, :link => link_to( t(:trust_privacy_tools_trusteEUSafeHarborSeal),"http://www.truste.org/ivalidate.php?companyName=Salesforce.com,%20Inc.&sealid=102") ).html_safe %></li>
					<li><%= (t :trust_privacy_tools_l121c, :link => link_to( t(:trust_privacy_tools_trusteCertifiedPrivacySeal),"http://www.truste.org/ivalidate.php?companyName=Salesforce.com,%20Inc.&sealid=102") ).html_safe %></li>
					<li><%= (t :trust_privacy_tools_l121d, :link => link_to( t(:trust_privacy_tools_japanPrivacySeal),"http://www.privacymark.org/") ).html_safe %></li>
				</ul>
			</li>
			<li>
				<strong><%=t :trust_privacy_tools_l122 %></strong>
				<ul>
					<li><%= (t :trust_privacy_tools_l122a, :link => link_to( t(:trust_privacy_tools_iso27001),"http://www.bsigroup.com/en/Assessment-and-certification-services/Client-directory/CertificateClient-Directory-Search-Results/?pg=1&licencenumber=IS+534200&searchkey=companyXeqXsalesforce") ).html_safe %></li>
					<li><%= (t :trust_privacy_tools_l122b, :link => link_to( t(:trust_privacy_tools_sas70Type2),"http://www.aicpa.org/InterestAreas/InformationTechnology/Resources/TrustServices/DownloadableDocuments/10957-378%20SOC%20Whitepaper.pdf") ).html_safe %></li>
					<li><%= (t :trust_privacy_tools_l122c, :link => link_to( t(:trust_privacy_tools_sysTrust),"http://trust.salesforce.com/trust/assets/pdf/Misc_SysTrust.pdf") ).html_safe %></li>
				</ul>
			</li>
		</ul>

		<strong><%=t :trust_privacy_tools_c13 %></strong>
		<p><%=t :trust_privacy_tools_p131 %></p>
		<ul>
			<li>
				<strong><%=t :trust_privacy_tools_l131 %></strong>
				<ul>
					<li><%=t :trust_privacy_tools_l131a %></li>
					<li><%=t :trust_privacy_tools_l131b %></li>
					<li><%=t :trust_privacy_tools_l131c %></li>
				</ul>
			</li>
			<li>
				<strong><%=t :trust_privacy_tools_l132 %></strong>
				<ul>
					<li><%=t :trust_privacy_tools_l132a %></li>
				</ul>
			</li>
			<li>
				<strong><%=t :trust_privacy_tools_l133 %></strong>
				<ul>
					<li><%=t :trust_privacy_tools_l133a %></li>
					<li><%=t :trust_privacy_tools_l133b %></li>
					<li><%=t :trust_privacy_tools_l133c %></li>
				</ul>
			</li>
		</ul>

		<strong><%=t :trust_privacy_tools_c14 %></strong>
		<p><%=t :trust_privacy_tools_p141 %></p>
		<ul>
			<li>
				<strong><%=t :trust_privacy_tools_l141 %></strong><br/>
				<%=t :trust_privacy_tools_p141a %>
				<ul>
					<li><%=t :trust_privacy_tools_l141a %></li>
					<li><%=t :trust_privacy_tools_l141b %></li>
					<li><%=t :trust_privacy_tools_l141c %></li>
				</ul>
			</li>
			<li>
				<strong><%=t :trust_privacy_tools_l142 %></strong><br/>
				<%=t :trust_privacy_tools_p142a %>
				<ul>
					<li><%= (t :trust_privacy_tools_l142a, :link => link_to("http://trust.database.com","http://trust.database.com") ).html_safe %></li>
					<li><%=t :trust_privacy_tools_l142b %></li>
					<li><%=t :trust_privacy_tools_l142c %></li>
					<li><%= (t :trust_privacy_tools_l142d, :link => link_to("AppExchange","http://sites.force.com/appexchange/listingDetail?listingId=a0N300000018mjUEAQ") ).html_safe %></li>
					<li><%=t :trust_privacy_tools_l142e %></li>
					<li><%=t :trust_privacy_tools_l142f %></li>
				</ul>
			</li>
		</ul>

		<strong><%=t :trust_privacy_tools_c15 %></strong>
		<p><%=t :trust_privacy_tools_p151 %></p>

		<strong><%=t :trust_privacy_tools_c16 %></strong>
		<p><%=t :trust_privacy_tools_p161 %></p>
		<ul>
			<li>
				<strong><%=t :trust_privacy_tools_l161 %></strong>
				<ul>
					<li>
						<strong><%=t :trust_privacy_tools_l161a %></strong>
						<ul>
							<li><%=t :trust_privacy_tools_l161aa %></li>
							<li><%=t :trust_privacy_tools_l161ab %></li>
							<li><%=t :trust_privacy_tools_l161ac %></li>
						</ul>
					</li>
					<li>
						<strong><%=t :trust_privacy_tools_l161b %></strong>
						<ul>
							<li><%=t :trust_privacy_tools_l161ba %></li>
							<li><%=t :trust_privacy_tools_l161bb %></li>
							<li><%=t :trust_privacy_tools_l161bc %></li>
						</ul>
					</li>
					<li>
						<strong><%=t :trust_privacy_tools_l161c %></strong>
						<ul>
							<li><%=t :trust_privacy_tools_l161ca %></li>
							<li><%=t :trust_privacy_tools_l161cc %></li>
							<li><%=t :trust_privacy_tools_l161cb %></li>
							<li><%=t :trust_privacy_tools_l161cd %></li>
						</ul>
					</li>
					<li><strong><%=t :trust_privacy_tools_l161d %></strong><br/><%=t :trust_privacy_tools_p161d %></li>
					<li><strong><%=t :trust_privacy_tools_l161e %></strong><br/><%=t :trust_privacy_tools_p161e %></li>
					<li><strong><%=t :trust_privacy_tools_l161f %></strong><br/><%=t :trust_privacy_tools_p161f %></li>
				</ul>
			</li>
			<li>
				<strong><%=t :trust_privacy_tools_l162 %></strong>
				<ul>
					<li><%=t :trust_privacy_tools_l162a %></li>
					<li><%=t :trust_privacy_tools_l162b %></li>
					<li><%=t :trust_privacy_tools_l162c %></li>
					<li><%=t :trust_privacy_tools_l162d %></li>
					<li><%=t :trust_privacy_tools_l162e %></li>
					<li><%=t :trust_privacy_tools_l162f %></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div id="right">
	<div class="ctacontainer ctacontainer-small">
		<a href="/security/reportsecurityissue" target="_blank"
			title="<%=t :trust_ReportSuspiciousEmail %>">
			<img src="/images/trust/cta_report_susp_email_1.gif"/>
		</a>
	</div>
</div>
</div>