<% content_for :pagetitle do %>
	<%=t :trust_privacy_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
		<div class="sidebar-navigation-top"></div>
		<a href="/privacy/global-privacy"><%=t :trust_NavGlobalPrivacy %></a>
		<a href="/privacy/tools"><%=t :trust_privacy_tools %></a>
		<div class="sidebar-navigation-bottom"></div>
	</div>
</div>

<div class="white-bg">
<div id="center">
	<div id="content-text">
		<h1><%=t :trust_privacy_H1 %></h1>
		<p><%=t :trust_privacy_P1 %></p>
	</div>
</div>

<div id="right">
	<div class="ctacontainer ctacontainer-small">
		<a href="/security/reportsecurityissue" target="_blank"
			title="<%=t :trust_ReportSuspiciousEmail %>">
			<img src="/images/trust/cta_report_susp_email_1.gif"/>
		</a>
	</div>
</div>
</div>