<% content_for :pagetitle do %>
	<%=t :trust_privacy_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
        <%= link_to t(:trust_NavGlobalPrivacy), "#{@root}#{I18n.locale}/privacy/global-privacy" %>
        <%= link_to t(:trust_privacy_tools), "#{@root}#{I18n.locale}/privacy/tools" %>
	</div>
</div>

<div id="center">
	<div id="content-text">
		<h1><%=t :trust_privacy_H1 %></h1>
		<p><%=t :trust_privacy_P1 %></p>
	</div>
</div>

<div id="right">
    <%= render "report_security_issue_div" %>
</div>