<% content_for :pagetitle do %>
	<%=t :trust_privacy_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
		<div class="sidebar-navigation-top"></div>
		<a class="on" href="/privacy/global-privacy"><%=t :trust_NavGlobalPrivacy %></a>
		<a href="/privacy/tools"><%=t :trust_privacy_tools %></a>
		<div class="sidebar-navigation-bottom"></div>
	</div>
</div>

<div class="white-bg">
<div id="center">
	<div id="content-text">
		<h1><%=t :trust_privacy_globalprivacy_h1 %></h1>
		<p><%=t :trust_privacy_globalprivacy_p11 %></p>
		<strong><%=t :trust_privacy_globalprivacy_c11 %></strong>
		<ul>
			<li><%=t :trust_privacy_globalprivacy_l111 %></li>
			<li><%=t :trust_privacy_globalprivacy_l112 %></li>
			<li><%=t :trust_privacy_globalprivacy_l113 %></li>
		</ul>
		<strong><%=t :trust_privacy_globalprivacy_c12 %></strong>
		<ul>
			<li><%=t :trust_privacy_globalprivacy_l121 %></li>
			<li><%=t :trust_privacy_globalprivacy_l122 %></li>
		</ul>
		<strong><%=t :trust_privacy_globalprivacy_c13 %></strong>
		<ul>
			<li><%=t :trust_privacy_globalprivacy_l131 %></li>
			<li><%=t :trust_privacy_globalprivacy_l132 %></li>
		</ul>
		<strong><%=t :trust_privacy_globalprivacy_c14 %></strong>
		<ul>
			<li><%=t :trust_privacy_globalprivacy_l141 %></li>
			<li><%=t :trust_privacy_globalprivacy_l142 %></li>
		</ul>
		<p><%=t :trust_privacy_globalprivacy_p12 %></p>


		<p><strong><%=t :trust_privacy_globalprivacy_s13 %></strong>&nbsp;<%=t :trust_privacy_globalprivacy_p13a %></p>

		<p><strong><%=t :trust_privacy_globalprivacy_s14 %></strong>&nbsp;<%=t :trust_privacy_globalprivacy_p14a %></p>

		<p><strong><%=t :trust_privacy_globalprivacy_s15 %></strong>&nbsp;<%=t :trust_privacy_globalprivacy_p15a %></p>

		<p><strong><%=t :trust_privacy_globalprivacy_s16 %></strong>&nbsp;<%=t :trust_privacy_globalprivacy_p16a %></p>
		<p><%=t :trust_privacy_globalprivacy_p16b %></p>

		<p><strong><%=t :trust_privacy_globalprivacy_s17 %></strong>&nbsp;<%=t :trust_privacy_globalprivacy_p17a %></p>
		<p><%=t :trust_privacy_globalprivacy_p17b %></p>

		<p><strong><%=t :trust_privacy_globalprivacy_s18 %></strong>&nbsp;<%=t :trust_privacy_globalprivacy_p18 %></p>
	</div>
</div>

<div id="right">
	<div class="ctacontainer ctacontainer-small">
		<a href="/security/reportsecurityissue" target="_blank"
			title="<%=t :trust_ReportSuspiciousEmail %>">
			<img src="/images/trust/cta_report_susp_email_1.gif"/>
		</a>
	</div>
</div>
</div>