<% content_for :pagetitle do %>
	<%=t :trust_privacy_pagetitle %>
<% end %>

<div id="left">
	<div class="sidebar-navigation">
		<a href="/privacy/global-privacy"><%=t :trust_NavGlobalPrivacy %></a>
		<a href="/privacy/tools"><%=t :trust_privacy_tools %></a>
	</div>
</div>

<div id="center">
	<div id="content-text">
		<h1><%=t :trust_privacy_H1 %></h1>
		<p><%=t :trust_privacy_P1 %></p>
	</div>
</div>

<div id="right">
    <div>
        <h4 class="warn"><%=t :trust_ReportSuspiciousEmail %></h4>
        <p><%=t :trust_ReportSuspiciousEmail_Desc %>
        <a href="/security/reportsecurityissue" target="_blank"
			title="<%=t :trust_ReportSuspiciousEmail %>"><%=t(:trust_emailus).gsub(" ","&nbsp;").html_safe %></a></p>
    </div>
</div>