<% content_for :pagetitle do %>
	<%=t :trust_security_pagetitle %>
<% end %>

<div id="left">
    <img src="/images/trust/LOCKIMG.png"/>
    <%= render "parkerquote" %>
</div>

<div id="center">
	<div id="content-text">
		<p><%=t :trust_security_p1 %></p>

		<h1><%=t :trust_security_h1 %></h1>
		<p><%=t :trust_security_p11 %></p>

		<h3><%=t :trust_security_h101 %></h3>
		<ul>
			<li><%=t :trust_security_l1011 %></li>
			<li><%=t :trust_security_l1012 %></li>
			<li><%=t :trust_security_l1013 %></li>
			<li><%=t :trust_security_l1014 %></li>
			<li><%=t :trust_security_l1015 %></li>
			<li><%=t :trust_security_l1016 %></li>
			<li><%=t :trust_security_l1017 %></li>
		</ul>

		<h3><%=t :trust_security_h102 %></h3>
		<ul>
			<li><%=t :trust_security_l1021 %></li>
			<li><%=t :trust_security_l1022 %></li>
		</ul>

		<h3><%=t :trust_security_h103 %></h3>
		<ul>
			<li><%=t :trust_security_l1031 %></li>
			<li><%=t :trust_security_l1032 %></li>
			<li><%=t :trust_security_l1033 %></li>
			<li><%=t :trust_security_l1034 %></li>
		</ul>

		<h3><%=t :trust_security_h104 %></h3>
		<ul>
			<li><%=t :trust_security_l1041 %></li>
			<li><%=t :trust_security_l1042 %></li>
			<li><%=t :trust_security_l1043 %></li>
			<li><%=t :trust_security_l1044 %></li>
		</ul>

		<h3><%=t :trust_security_h105 %></h3>
		<ul>
			<li><%=t :trust_security_l1051 %></li>
			<li><%=t :trust_security_l1052 %></li>
		</ul>

		<h1><%=t :trust_security_h2 %></h1>
		<ul>
			<li><%=t :trust_security_l21 %></li>
			<li><%=t :trust_security_l22 %></li>
		</ul>

		<h1><%=t :trust_security_h3 %></h1>
		<ul>
			<li><%=t :trust_security_l31 %></li>
			<li><%=t :trust_security_l32 %></li>
			<li><%=t :trust_security_l33 %></li>
			<li><%=t :trust_security_l34 %></li>
		</ul>

		<h1><%=t :trust_security_h4 %></h1>
		<ul>
			<li><%=t :trust_security_l41 %></li>
			<li><%=t :trust_security_l42 %></li>
			<li><%=t :trust_security_l43 %></li>
		</ul>

		<h1><%=t :trust_security_h5 %></h1>
		<ul>
			<li><%=t :trust_security_l51 %></li>
			<li><%=t :trust_security_l52 %></li>
			<li><%=t :trust_security_l53 %></li>
		</ul>

		<h1><%=t :trust_security_h6 %></h1>
		<p><%=t :trust_security_p61 %></p>
		<ul>
			<li><%=t :trust_security_l611 %></li>
			<li><%=t :trust_security_l612 %></li>
			<li><%=t :trust_security_l613 %></li>
			<li><%=t :trust_security_l614 %></li>
		</ul>
		<h1><%=t :trust_security_h7 %></h1>
		<p><%=t :trust_security_p71 %></p>
	</div>
</div>

<div id="right">
	<div class="ctacontainer ctacontainer-small">
		<a href="/security/reportsecurityissue" target="_blank"
			title="<%=t :trust_ReportSuspiciousEmail %>">
			<img src="/images/trust/cta_report_susp_email_1.gif"/>
		</a>
	</div>
</div>