<% content_for :pagetitle do %>
	<%=t :trust_status_pagetitle %>
<% end %>

<% content_for :pageJs do %>
    <%= javascript_include_tag "jquery-1.6.2.min.js" %>
    <%= javascript_include_tag "jquery.iframe-auto-height.plugin.1.4.0.min.js" %>
<% end %>

<div id="status-container" style="margin:20px 0;">
    <%
    frames = [
        {id:"data_frame1",url: @root + "status/status",height:"932"},
        {id:"data_frame2",url: @root + "status/maintenance",height:"100"},
        {id:"data_frame3",url: @root + "status/releasewindow",height:"0"}
    ]

    frames.each do |f| %>

    <iframe id='<%= f[:id] %>' scrolling='no' height='<%= f[:height] %>'
        frameborder='0' width='959' src='<%= f[:url] %>' marginheight='0'
        marginwidth='0' name='data_frame1'></iframe><br/>

    <% end %>
</div>

<script type="text/javascript">
    jQuery("iframe").iframeAutoHeight();
</script>