<div id="dbdcHeader">
    <div class="row">
        <div class='column grid_5'>
            <a id="dbdcLogo" href="/">
                <%= image_tag("template/databaselogo.png") %>
            </a>
        </div>
        <div class='navMenu column grid_7'>

            <span id="authbox" class="floatright margin_0_5">
                <a href="Javascript:;">Login </a>
                &nbsp;|&nbsp;
                <a href="Javascript:;" onclick="$('#registerform').modal();">Signup</a>
            </span>
            <%
                @action = params[:action]
                @howclass = @action == "howitworks" ? " class='on'" : ""
                @priceclass = @action == "pricing" ? " class='on'" : ""
            %>
            <span id="hlinks" class="floatright margin_0_5 cascade">
                <span<%= @howclass %>><%= link_to "How it Works" , {:controller => "site", :action => "howitworks" ,:locale => I18n.locale} %></span>
                <span<%= @priceclass %>><%= link_to "Pricing" , {:controller => "site", :action => "pricing" ,:locale => I18n.locale} %></span>
                <span><a href="http://blog.database.com">Blog</a></span>
                <span><a href="http://wiki.database.com">Resources</a></span>
                <span><a href="Javascript:;">Support</a></span>
            </span>


        </div>
        <div  class='column grid_2'>

        </div>
    </div>
</div>