<script type="text/javascript">
function beforeSubmit(){
    // Servlet requires that this field is 'on'. Not '1', not 'true', not 'yes', but 'on'.
    $("#SubscriptionAgreement").val( $("#msa").val() ? 'on' : 'off' );
}
</script>

<div id="registerform" class="grid_8" style="display:none;" >
  <%= form_tag("http://www.salesforce.com/leadcapture/PartnerSignupServlet", :id => "reg_form", :onSubmit => "beforeSubmit()") do %>

    <%= hidden_field_tag "process_form", "true" %>
    <%= hidden_field_tag "LeadSource", "Trialforce" %>

    <!-- TODO: Add Signup Config Item Name of Config record as formName -->
    <%= hidden_field_tag "formName", "db.com" %>
    <%= hidden_field_tag "CompanyTemplate", "db_default" %>
    <%= hidden_field_tag "EditionDefinitionUri", "edition:DB.DBEdition" %>

    <!-- TODO: Update Success and Failure Page -->
    <% @baseurl = "http://" + request.host_with_port + "/" + locale.to_s + "/"%>
    <%= hidden_field_tag "successPage", @baseurl + "signup_success" %>
    <%= hidden_field_tag "failPage", @baseurl + "signup_error" %>

    <!-- TODO: Add Product Interest to specify your trialforce solution -->
    <%= hidden_field_tag "Product_Interest__c", "Database.com" %>

    <!-- TODO: Update Language if needed
        'en_US' - English
        'nl_NL' - Dutch
        'fr' - French
        'de' - German
        'it' - Italian
        'es' - Spanish
        'sv' - Swedish
        'pt_BR' - Portuguese  (Brazilian)
        'ja' - Japanese
        'zh_CN' - Chinese (Simplified)
        'zh_TW' - Chinese (Traditional)
        'ko' - Korean
        'th' - Thai
        'fi' - Finnish
    -->
    <%= hidden_field_tag "CompanyLanguage", "en_US" %>

    <%= field_set_tag t(".aboutyou") do %>
		<p><%= label_tag :FirstName, raw(t(".firstname") + req) %><%= text_field_tag :FirstName %></p>
		<p><%= label_tag :LastName, raw(t(".lastname") + req) %><%= text_field_tag :LastName %></p>
		<p><%= label_tag :Email, raw(t(".email") + req) %><%= text_field_tag :Email %></p>
		<p><%= label_tag :JobRole, raw(t(".jobrole") + req) %><%= select_tag :JobRole, options_for_select(job_role_list)  %></p>
	<% end %>

	<%= field_set_tag t(".aboutyourcompany") do %>
		<p><%= label_tag :Country, raw(t(".country") + req) %><%= select_tag :Country, options_for_select(country_list, "US") %></p>
		<p><%= label_tag :PostalCode, raw(t(".postalcode") + req) %><%= text_field_tag :PostalCode %></p>
		<p><%= label_tag :Company, raw(t(".company") + req) %><%= text_field_tag :Company %></p>
	<% end %>

	<%= field_set_tag t(".devforcemembership") do %>
		<p><%=t ".devforcedescription" %></p>
		<p><%= label_tag :UserUsername, raw(t(".username") + req) %><%= text_field_tag :UserUsername %></p>
	<% end %>

	<%= field_set_tag t(".foryoursecurity") do %>
		<p><%= check_box_tag :msa %><%= label_tag :msa, t(".iagreemsa", :msa => "<a href='http://www.salesforce.com/company/agreements/developer_edition/'>" + t(".msa") + "</a>").html_safe %></p>
        <%= hidden_field_tag :SubscriptionAgreement, "off" %>
	<% end %>

	<p>
        <input type="submit" value="Sign up"/>
		<input type="button" class="simplemodal-close" value="Close"/>
	</p>
  <% end %>
</div>

<script type="text/javascript">

$(document).ready(function() {
	$("#reg_form").validate({
		rules: {
			FirstName: "required",
			LastName: "required",
			Email: { required: true, email: true },
			JobRole: "required",
			Country: "required",
			PostalCode: "required",
			Company: "required",
			UserUsername: { required: true, email: true },
			msa: "required"
		},
		messages: {
			FirstName: "<%=t ".reqfirstname"%>",
			LastName: "<%=t ".reqlastname"%>",
			Email: "<%=t ".reqemail"%>",
			JobRole: "<%=t ".reqjobrole"%>",
			Country: "<%=t ".reqcountry"%>",
			PostalCode: "<%=t ".reqpostalcode"%>",
			Company: "<%=t ".reqcompany"%>",
			UserUsername: { required: "<%=t ".requsername"%>", email: "<%=t ".usernameisemail"%>" },
			msa: "<%=t ".reqmsa"%>"
		},
		errorPlacement: function(error, element) {
			error.appendTo( element.parent() );
		}
	});
});

</script>