<% content_for :pageTitle do %> <%= t ".ptitle" %> <% end %>
<% content_for :customStyleSheets do %> <%= stylesheet_link_tag("slider") %> <% end %>
<% content_for :customLibs do %> <%= javascript_include_tag("slider") %> <% end %>
<!--Slider -->
<div class="row">
	<div class="column grid_12 relative">
		<div id="EasingIndex">
			<ul class="hmenu">
				<li class="active"><a href="javascript;:"></a></li>
				<li><a href="javascript;:"></a></li>
				<li><a href="javascript;:"></a></li>
				<li><a href="javascript;:"></a></li>
			</ul>
		</div>
		<br />
		<div id="SliderWrapper">			
			<div id="EasingSlider">
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/mobile.png") %>
					</div>
					<div class="text">
						<h2><%= t ".slider_mobile_title" %></h2>
						<h3><%= image_tag("dbdc/smallgear.png") %> <%= t ".slider_mobile_subtitle" %></h3>
						<span><%= t ".slider_mobile_text" %> <a href="javascript:;"><%= t ".read_more" %> ></a></span>
					</div>
				</div>
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/social.png") %>
					</div>
					<div class="text">
						<h2><%= t ".slider_social_title" %></h2>
						<h3><%= image_tag("dbdc/smallgear.png") %> <%= t ".slider_social_subtitle" %></h3>
						<span><%= t ".slider_social_text" %> <a href="javascript:;"><%= t ".read_more" %> ></a></span>
					</div>
				</div>
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/trusted.png") %>
					</div>
					<div class="text">
						<h2><%= t ".slider_trusted_title" %></h2>
						<h3><%= t ".slider_trusted_subtitle", :apicounter => number_with_delimiter(@apicounter) %></h3>
						<span><%= t ".slider_trusted_text" %> <a href="javascript:;"><%= t ".read_more" %> ></a></span>
					</div>
				</div>
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/open.png") %>
					</div>
					<div class="text">
						<h2><%= t ".slider_open_title" %></h2>
						<h3><%= image_tag("dbdc/smallgear.png") %> <%= t ".slider_open_subtitle" %></h3>
						<span><%= t ".slider_open_text" %> <a href="javascript:;"><%= t ".read_more" %> ></a></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<!-- News, Signup Bar -->
<div class="row">
	<div class='column grid_12'>
		<div id="newsBar">
		
			<div class="floatleft">
				<%= image_tag("template/nb_rcorner.png") %>
				<span class="margin_0_10">
					<b>Latest news</b> 
					&nbsp;&nbsp;|&nbsp;&nbsp;
					Webinar: Building a database in under 3 minutes
				</span>	
			</div>
			
			<div class="floatright">
				<span class="margin_0_10">
					<b>Free database:</b> 
					&nbsp;
					Get up and running minutes
				</span>	
				<a href="javascript:;" class="signup" onclick="$('#registerform').modal();"><%= image_tag("template/signupButton.png") %></a>
			</div>
			
		</div>
	</div>
</div>
<br />
<!--4 Boxes -->
<div id="boxes" class="row">
	<!-- Mobile -->
	<div class='first column grid_3'>
		<span>
			<b>Mobile</b>
			<br />				
			Custom REST APIs, OAuth, data feeds, access management
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/mobileico.png") %>
		</div>
	</div>
	<!-- Social -->
	<div class='column grid_3'>
		<span>
			<b>Social</b>
			<br />				
			Profiles, subscriptions, social graph, status updates, data feeds
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/socialico.png") %>
		</div>
	</div>
	<!-- Trusted -->
	<div class='column grid_3'>
		<span>
			<b>Trusted</b>
			<br />				
			Proven, secure, reliable, and highly-available infrastr
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/trustedico.png") %>
		</div>
	</div>
	<!-- Open -->
	<div class='last column grid_3'>
		<span>
			<b>Open</b>
			<br />				
			REST, SOAP, bulk and streaming APIs. SAML, OAuth  Read mor
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/openico.png") %>
		</div>
	</div>
</div>
<br />