<% content_for :pageTitle do %> <%= t ".ptitle" %> <% end %>
<% content_for :customStyleSheets do %> <%= stylesheet_link_tag("slider") %> <% end %>
<% content_for :customLibs do %> <%= javascript_include_tag("slider") %> <% end %>
<!--Slider -->
<div class="row">
	<div class="column grid_12 relative">
		<div id="EasingIndex">
			<ul class="hmenu">
				<li class="active"><a href="javascript;:"></a></li>
				<li><a href="javascript;:"></a></li>
				<li><a href="javascript;:"></a></li>
				<li><a href="javascript;:"></a></li>
			</ul>
		</div>
		<br />
		<div id="SliderWrapper">			
			<div id="EasingSlider">
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/mobile.png") %>
					</div>
					<div class="text">
						<h2>Ready, Set, Deploy.</h2>
						<h3><%= image_tag("dbdc/smallgear.png") %> Going Mobile has never been this easy.</h3>
						<span>
							Access your data from antwhere, on any device.The integrated capabilities of database.com  help you quickly build robust mobile application - and deploy in record time. 
							<a href="javascript:;">Read More ></a>
						</span>
					</div>
				</div>
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/social.png") %>
					</div>
					<div class="text">
						<h2>Tweet, share, promote, Like, and wrable.</h2>
						<h3><%= image_tag("dbdc/smallgear.png") %> Become social just go easier</h3>
						<span>
							Social application are changin how we collaborate. Database.com makes it easy to build social business applications that enable a new level of collaboration and productivity.
							<a href="javascript:;">Read More ></a>
						</span>
					</div>
				</div>
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/trusted.png") %>
					</div>
					<div class="text">
						<h2>You&#039;ll sleep better on our cloud.</h2>
						<h3>450,345,890  transactions performed today</h3>
						<span>
							The world&#039;s more trustred and secure database2. More than 97,700 organizations already rely on it every day, including some of the world&#039;s largest banks, government agencies, and healthcare providers.
							<a href="javascript:;">Read More ></a>
						</span>
					</div>
				</div>
				<div class="slideItem">
					<div class="background">
						<%= image_tag("slider/open.png") %>
					</div>
					<div class="text">
						<h2>Any language. Any platform. Any device.</h2>
						<h3><%= image_tag("dbdc/smallgear.png") %> Our cloud is at your service.</h3>
						<span>
							Database.com provides the perfect solution for developing and running large-scale, multi-tiered, scalable, reliable, and secure network applications. 
							<a href="javascript:;">Read More ></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />
<!-- News, Signup Bar -->
<div class="row">
	<div class='column grid_12'>
		<div id="newsBar">
		
			<div class="floatleft">
				<%= image_tag("template/nb_rcorner.png") %>
				<span class="margin_0_10">
					<b>Latest news</b> 
					&nbsp;&nbsp;|&nbsp;&nbsp;
					Webinar: Building a database in under 3 minutes
				</span>	
			</div>
			
			<div class="floatright">
				<span class="margin_0_10">
					<b>Free database:</b> 
					&nbsp;
					Get up and running minutes
				</span>	
				<a href="javascript:;" class="signup" onclick="$('#registerform').modal();"><%= image_tag("template/signupButton.png") %></a>
			</div>
			
		</div>
	</div>
</div>
<br />
<!--4 Boxes -->
<div id="boxes" class="row">
	<!-- Mobile -->
	<div class='first column grid_3'>
		<span>
			<b>Mobile</b>
			<br />				
			Custom REST APIs, OAuth, data feeds, access management
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/mobileico.png") %>
		</div>
	</div>
	<!-- Social -->
	<div class='column grid_3'>
		<span>
			<b>Social</b>
			<br />				
			Profiles, subscriptions, social graph, status updates, data feeds
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/socialico.png") %>
		</div>
	</div>
	<!-- Trusted -->
	<div class='column grid_3'>
		<span>
			<b>Trusted</b>
			<br />				
			Proven, secure, reliable, and highly-available infrastr
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/trustedico.png") %>
		</div>
	</div>
	<!-- Open -->
	<div class='last column grid_3'>
		<span>
			<b>Open</b>
			<br />				
			REST, SOAP, bulk and streaming APIs. SAML, OAuth  Read mor
			<br />
			<a href="javascript:;">Read More</a>
		</span>
		<div class="icon">
			<%= image_tag("template/openico.png") %>
		</div>
	</div>
</div>
<br />