<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:pageTitle) %></title>
		<!-- Style Definition -->
		<%= stylesheet_link_tag("grid") %>
		<%= stylesheet_link_tag("layout") %>
		<%= stylesheet_link_tag("signupform") %>
		<%= yield(:customStyleSheets) %>
		<style>
			<%= yield(:customCss) %>
		</style>
		<!-- Cuffon-->
		<%= javascript_include_tag("cuffon") %>
		<%= javascript_include_tag("helveticaLike_400.font") %>
		<script type="text/javascript">
		
			var ua = navigator.userAgent,
			clickEvent = (ua.match(/iPad/i)) ? "touchstart" : "click";
			
			//Cufon.replace('#dbdcHeader', {fontFamily:'Droid Sans', hover: true});
			Cufon.replace('.helveticaLike', {fontFamily:'helveticaLike', hover: true});
			
		</script>
		<!-- Script Definition -->
		<%= javascript_include_tag("jquery-1.6.2.min") %>
		<%= javascript_include_tag("jquery.easing") %>
		<%= javascript_include_tag("jquery.simplemodal.1.4.1.min") %>
		<%= javascript_include_tag("jquery.validate.min") %>		
		<%= yield(:customLibs) %>
		<script>
			$(document).ready(function(){
				$('#boxes div').hover(
					function(){
					$(this).addClass('hover');
					},
					function(){
					$(this).removeClass('hover');
				});			
			});
		</script>
		<script>
			<%= yield(:customJs) %>
		</script>
		<!-- Meta Tags -->
		<%= csrf_meta_tag %>
	</head>
	
	<body>
		<div id="dbdcHeader">
			<div class="row">
				<div class='column grid_5'>
					<a id="dbdcLogo" href="/">
						<%= image_tag("template/headercloud.png") %>
						<span class="text">
							<span class="product helveticaLike">database.com</span>
							<br />
							<span class="slogan helveticaLike">The world&#39;s most trusted cloud.</span>
						</span>
					</a>
				</div>
				<div class='navMenu column grid_7'>
					
					<span id="authbox" class="floatright margin_0_5 cascade">
						<a href="Javascript:;">Login </a>
						| 
						<a href="Javascript:;">Signup</a>
					</span>
					
					<span class="floatright margin_0_5 cascade">
						<%= link_to "How it Works" , {:controller => "site", :action => "howitworks" ,:locale => I18n.locale} %>
						<a href="Javascript:;">Pricing</a>
						<a href="Javascript:;">Blog</a>
						<a href="Javascript:;">Resources</a>
						<a href="Javascript:;">Support</a>
					</span>
					

				</div>
				<div  class='column grid_2'>
					
				</div>
			</div>	
		</div>
		<br />
		<%= yield %>
		<br />
        
        <%= render "footer" %>
		
	</body>	
</html>
