<!DOCTYPE html>
<html>
<head>
	<title><%= yield :pagetitle %> - database.com</title>
	<%= stylesheet_link_tag "trust.css" %>
	<%= yield :pageCss %>
	<%= javascript_include_tag :defaults %>
	<%= yield :pageJs %>
	<%= csrf_meta_tag %>
</head>
<body>

    <%= render "trust/header" %>
	<div id="corpus">
        <div class="row"><%= yield %></div>
    </div>
    <%= render "trust/accreditations" %>
    
    <%= render "site/footer" %>

</body>
</html>
